:root {
  color-scheme: dark light;
  --primary-color: #061a40;
  --secondary-color: #0353a4;
  --tertiary-color: #b9d6f2;
}

body {
  margin: 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0px;
  border-radius: 4px;
}
.header {
  background-color: var(--primary-color);
}
.header > h1 {
  margin: inherit;
  padding: 12px;
}

.main {
  padding: 0 24px;
  display: grid;
}

.form-button {
  padding: 4px 8px;
  background-color: var(--secondary-color);
}
.warning {
  color: red;
}

.tag {
  display: inline-block;
  margin: 8px;
  padding: 6px 8px;
  line-height: 24px;
  background-color: var(--tag-color);
  color: white;
  border-radius: 6px;
}

#tag-form .list {
  display: grid;
  row-gap: 4px;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
}

#tasks-list {
  display: grid;
  row-gap: 8px;
  grid-template-columns: auto;
}

.task-description {
  display: block;
  margin: 0 0 48px 24px;
  font: inherit;
  appearance: none;
  background-color: inherit;
  border: none;
  resize: none;
}

#tags-list > div {
  /* push to far right button in div, have text on rst */
  background-color: var(--tag-color);
  border-radius: 5px;
  padding: 2px 4px;
  display: grid;
  grid-template-columns: auto 24px;
}

#tags-list button {
  text-align: center;
  width: 24px;
  height: 24px;
}

.task-edit {
  padding: 4px 8px;
  background-color: transparent;
}

.task-edit:hover,
.task-edit:focus-visible {
  background-color: var(--secondary-color);
}

.task-delete,
.task-edit {
  font-size: 24px;
  padding: 4px 8px;
  background-color: transparent;
}

.task-delete:hover,
.task-edit:focus-visible {
  background-color: var(--secondary-color);
}

#tag-submission-error-text {
  color: red;
}

#startup-dialog[open] {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

#startup-dialog > h1 {
  display: grid;
  grid-column: span 2;
}
